version: '3'
services:
  app:
    build: .
    container_name: todo-app
    env_file:
      - .env
    ports:
      - "5003:5003"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
  db:
    image: postgres:13-alpine
    container_name: postgres-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: 